body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(89deg, #009999 0%, #336699   100%);
}

button {

	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
